.box {
	width: 150px;
	height: 50px;
	background: grey;
	margin: 10px;
	border-radius: 10px;
}

.box:hover, .box2:hover,  .box3:hover {
	background: white;
}

#topLeft {
	position: absolute;
	background-color: lightblue;
	width: 99%;
	height: 99%;
}

#l1, #l2, #l3 {
	list-style-type: none;
	padding: 10px;
	margin: 10px;
}

#container1 {
	position: absolute;
	left : 50%;
}

#container2 {
	position: absolute;
	left : 60%;	
}

#container3 {
	position: absolute;
	left : 70%;	
}

#botRight {
	width: 25%;
	height: 32%;
	position: absolute;
	left: 60%;
	top: 50%;
}

#l4, #l5, #l6, #l7, #buttons {
	list-style-type: none;	
	padding: 10px;
	margin: 10px;

}

.box2 {
	background: coral;
	width: 80px;
	height: 35px;
	margin: 8px;	
	border-radius: 10px;
}

#container4 {
	position: absolute;
	left: 0px;
	top: 8px;
}

#container5 {
	position: absolute;
	left: 20%;
	top: 8px;
}

#container6 {
	position: absolute;
	left: 40%;
	top: 8px;
}

#container7 {
	position: absolute;
	left: 60%;
	top: 8px;
}

#buttonContainer {
	position: absolute;
	right: 105%;
	top: 10px;
}

.box3 {
	background: red;
	width: 120px;
	height: 80px;
	margin: 8px;
	border-radius: 10px;	
}

#screen1 {
	width: 40%;
	height: 40%;
	position: absolute;
	background: #F5A9F2;
}

#screen2 {
	width: 40%;
	height: 40%;
	top: 50%;
	position: absolute;
	background: #E6E6E6;
}

#txtBox {
	position: relative;
	left: 20%;
	top: 30%;
}

@media (max-width: 1400px) {
	body {
		font-size: 80%;
	}
		
	#topLeft {
		height: 96%;
	}
	
	#txtBox {
		left: 18%;
	}
	
	.box, .box3 {
		width: 100px;
		height: 35px;	
	}
	
	.box2 {
		width: 50px;
	}

}


	